:root{
    --primary_font: 'Raleway', sans-serif;
    --secondary_font: Arial, Helvetica, sans-serif;
    --primary_color: #f39c12;
    --secondary_color: #4c4c4c;
    --tertiary_color: #ffffff;
    --button_color: #aaaaaa;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: var(--primary_font);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
h3{
    font-family: var(--primary_font);
}
p{
    font-family: var(--secondary_font);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
}
a{
    font-family: var(--secondary_font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.4px;
}

h6{
    width: 100%;
    height: 1px;
    display: block;
    background-color: var(--primary_color);
    position: relative;
}
h6::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 5px;
    background-color: var(--primary_color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    padding: 10px 0;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
header.scroll{
    padding: 5px 0;
}
header img{
    width: 80%;
}
header .nav-link{
    color: var(--tertiary_color);
    margin-left: 1.5rem;
    position: relative;
}
header .nav-link:hover,
header .nav-link.active{
    color: var(--primary_color);
}
header .nav-link.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary_color);
}
header .button{
    margin-left: 2rem;
}
header .button i{
    color: var(--tertiary_color);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
header .button i:hover{
    color: var(--primary_color);
}
.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: end;
    position: relative;
    z-index: 0;
}
.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    z-index: -1;
}
.banner h1{
    color: var(--tertiary_color);
}
.banner .button .btn_custom{
    color: var(--tertiary_color);
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    border: 1px solid #ffffff;
    margin: 5px;
    transition: 0.3s all ease-in-out;
}
.banner .button .btn_custom:hover{
    background-color: var(--primary_color);
    border: 1px solid var(--primary_color);
}
.banner .owl-nav{
    display: flex;
}
.banner .owl-nav .owl-prev i{
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--tertiary_color);
    transition: 0.3s all ease-in-out;
}
.owl-nav .owl-next i{
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--tertiary_color);
    transition: 0.3s all ease-in-out;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
    background-color: var(--primary_color);
}
.about {
    max-width: 100%;
}
.about .right {
    display: flex;
    justify-content: center;
}
.about .right h1 {
    color: var(--secondary_color);
}
.about .right p{
    color: #686767;
    margin-bottom: 20px;
}
.about .right .progressbar{
    width: 90%;
}
.about .right .progressbar h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.about .right .progressbar .progress{
    position: relative;
    width: 100%;
    height: 0.5rem;
    border-radius: 3rem;
    margin-bottom: 0.6rem;
    background-color: #ececec;
}
.about .right .progressbar .progress-title{
    position: relative;
    margin-bottom: 1rem;
}
.about .right .progressbar .progress-title span{
    display: block;
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    color: var(--tertiary_color);
    top: 50%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    margin-left: -1.4rem;
    transition: all 1s ease;
}

.about .right .progressbar .progress-title span::before,
.about .right .progressbar .progress-title span::after {
    content: "";
    position: absolute;
}

.about .right .progressbar .progress-title span::before {
    width: 2.5rem;
    height: 1.5rem;
    background-color: var(--primary_color);
    top: 0;
    left: -.3rem;
    border-radius: .3rem;
    z-index: -1;
}

.about .right .progressbar .progress-title span::after {
    border-top: 0.7rem solid var(--primary_color);
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    top: 1.5rem;
    left: 0.25rem;
}

.about .right .progressbar .progress span {
    display: block;
    width: 0;
    height: 100%;
    border-radius: 3rem;
    background-color: var(--primary_color);
    transition: all 1s ease;
}
.service{
    padding: 40px 0;
}
.services{
    display: flex;
    justify-content: center;
    text-align: center;
}
.services h1{
    color: #000;
}
.service .item{
    min-height: 50vh;
    border: 1px solid #dddddd;
    padding: 40px 30px 0px 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    transition: 0.3s all ease-in-out;
}
.service .item:hover::before,
.service .item:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.service .item:hover{
    background-color: var(--primary_color);
}

.service .item:hover::before{
    clip-path: polygon(80px 0px, 0px 80px, 0px 0px);
    border: 1px solid var(--primary_color);
}
.service .item:hover::after{
    clip-path: polygon(20px 0px, 0px 20px, 0px 0px);
    border: 3px solid var(--primary_color);
}
.service .item .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #919190;
    margin: auto;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}
.service .item:hover .icon{
    background-color: var(--tertiary_color);
}
.service .item .icon i{
    color: var(--tertiary_color);
    font-size: 30px;
    transition: 0.3s all ease-in-out;
}
.service .item:hover .icon i{
    color: var(--primary_color);
}
.service .item h3{
    font-size: 24px;
    color: #7a7a79;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}
.service .item:hover h3{
    color: var(--tertiary_color);
}
.service .item p{
    color: #7a7a79;
    transition: 0.3s all ease-in-out;
}
.service .item:hover p{
    color: var(--tertiary_color);
}
.statistic{
    background-image: url(../images/statistic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: var(--tertiary_color);
}
.statistic::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index: -1;
}
.statistic h1{
    margin-bottom: 5px;
}
.statistic .item{
    text-align: center;
    background-color: transparent;
    margin-top: 80px;

}
.statistic .item span{
    font-size: 32px;
    font-family: var(--primary_color);
    font-weight: 700;
}
.statistic .item .icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary_color);
    margin: 20px auto;
}
.statistic .item .icon i{
    font-size: 30px;
    color: var(--primary_color);

}
.statistic .item h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.work ul{
    display: flex;
    margin-bottom: 10px;
}
.work ul li{
    list-style: none;
    background-color: transparent;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.work ul li.active{
    background: var(--primary_color);
    color: var(--tertiary_color);
}
.story .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 1.5rem;
    position: relative;
}
.story .item .item_left{
    padding: 0 20px;
}
.story .item .item_left p{
    font-weight: 300;
    color: #7e7d7d;
}
.story .item .item_left h3{
    color: var(--primary_color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.story .item .item_left .btn_custom{
    padding: 8px 15px;
    background-color: #282828;
    color: var(--tertiary_color);
    border: none;
    border-radius: 0;
    transition: 0.3s all ease-in-out;
}
.story .item .item_left .btn_custom:hover{
    color: var(--primary_color);
}
.owl-dots{
    position: relative;
    bottom: -20px;
    left: 47%;
    display: inline;
}
.owl-dots .owl-dot span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b7b7b7;
    margin: 3px;
    transition: 0.3s all ease-in-out;
}
.owl-dots .owl-dot.active span{
    background-color: #414141;
}
.lgstory{
    background-color: #262626;
    color: var(--tertiary_color);
    position: relative;
}
.lgstory .img_bx{
    position: relative;
    top: 0px;
    left: -10%;
}
.lgstory h1{
    font-size: 36px;
}
.lgstory h6{
    margin-bottom: 30px;
}
.lgstory p{
    color: #c7c7c7;
    margin: 20px 0;
    text-align: start;
}
.lgstory .content{
    position: relative;
    top: 0;
    left: -30px;
}
.client .content_1{
    background-color: #f6f6f6;
    padding: 20px 30px;
    position: relative;
}
.client .content_1::before{
    content: '';
    position: absolute;
    border-top: 1.2rem solid #f6f6f6;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.2rem solid transparent;
    bottom: -2.3rem;
    left: 3.1rem;
}
.client .content_1 h3{
    color: #696868;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.client .content_1 p{
    color: #696868;
    font-style: italic;
}
.client .content_2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 1.5rem;
}
.client .content_2 .img_bx{
    margin-left: 1.5rem;
}
.client .content_2 .content h4{
    color: var(--primary_color);
    font-size: 1.10rem;
    font-weight: 700;
}
.client .content_2 .content p{
    color: #696868;
    font-style: italic;
}
.client .owl-dots{
    left: 48%;
}
.tweet{
    background-image: url(../images/footer_bg.png);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.tweet::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.tweet h1{
    color: var(--tertiary_color);
}
.tweet h5{
    color: var(--tertiary_color);
    font-size: 1rem;
    font-weight: 400;
}
.tweet h5 span{
    color: var(--primary_color);
}
.contact p{
    color: #585757;
}
.contact .form-label{
    color: #616161;
    font-size: 1.2rem;
    margin: 0.75rem 0;
}
.contact .form-control{
    width: 95%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
    transition: 0.3s all ease-in-out;
    padding-left: 1rem;
}
.contact #message{
    width: 98%;
}
.contact .form-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid var(--primary_color);
    color: #000000;
}
.contact .btn_custom{
    padding: 7px 15px;
    background-color: var(--primary_color);
    color: var(--tertiary_color);
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}
.contact .btn_custom:hover{
    background-color: #000000;
}
.map_content{
    position: relative;
    color: var(--tertiary_color);
}
.map .content{
    padding: 20px 30px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 0;
}
.map .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary_color);
    opacity: 0.8;
    z-index: -1;
}
.map .content h4{
    font-size: 1rem;
    margin: 0;
}
.map .content p{
    font-size: 0.9rem;
    margin: 0;
}
.map .content .content_2{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.map .content .content_2 div{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}
.follow .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5rem 0;
}
.follow .icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    font-size: 1.12rem;
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.follow .icon i:hover{
    background-color: var(--primary_color);
    color: var(--tertiary_color);
    border: 1px solid var(--primary_color);
}
footer{
    background-color: var(--primary_color);
    padding: 30px 0;
    color: #505050;
}
footer p{
    margin: 0;
}
footer p span{
    color: var(--tertiary_color);
}